@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background: linear-gradient(90deg, #c7d9e1, #efefef);
    background-color: #b8d7e5;
    color: #3d3e41;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #3d3e41;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}


/* a:visited {
    color: grey;
} */

.avatar {
    height: 350px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    pointer-events: none;
}

.info p {
    color: #3d3e41;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
}

.info {
    display: flex;
    margin-bottom: 20px;
}

.info-text {
    margin-left: 40px;
    padding: 15px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding-top: 30px;
}

.bg-course {
    background: linear-gradient(90deg, #dcd486, #85c6e3);
}

.bg-work {
    background: linear-gradient(90deg, #85c6e3, #d57d8a);
}

.bg-skills {
    background: linear-gradient(90deg, #d57d8a, #dcd486);
}

.cards {
    display: flex;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.card:not(:last-child) {
    flex: 0 1 25%;
}

.card:last-child {
    flex: 0 1 50%;
}

.card:not(:last-child) {
    margin-right: 40px;
}

.card h2 {
    margin-bottom: 10px;
}

.lists {
    display: flex;
    justify-content: space-around;
}

.list {
    padding: 0;
    margin: 0;
    margin-right: 30px;
    align-items: center;
}

.list li {
    margin-bottom: 10px;
    list-style: none;
}

.list h3 {
    margin-bottom: 20px;
}

h3 {
    margin-top: 5px; 
}

.title {
    margin-top: 30px;
    text-align: center;
}

.socials {
    display: flex;
align-items: center;
}

.socials a {
    margin-left: 5px;
}

.portfolio {
    display: flex;
align-items: center;
}

.portfolio a {
    background-color: #cbe0e9;
    color: #3d3e41;
    border-radius: 15px;
    font-size: 16px;
    padding: 5px 10px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-out;
}

.portfolio a:hover {
    background-color: #a6d1e4;
    color: black;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
}

.plagin-cards {
    display: flex;
}

.slide {
    height: 400px;
    border-radius: 28px;
    margin: 5px;
    cursor: pointer;
    color: white;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
}

.slide h3 {
    position: absolute;
    font-size: 24px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.slide.active {
    flex: 6;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.slide.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

td {
    padding-right: 20px;
    padding-bottom: 5px;
}

td:last-child {
    padding-right: 0px;
}

.bg-course .list,
.bg-work .list {
    padding: 0;
}

.table-title {
   font-weight: 600;
}

@media (max-width: 1180px) {
    .cards {
        flex-wrap: wrap;
    }
    .card:not(:last-child) {
        flex: auto;
    }
    .card,
    .card:not(:last-child) {
        margin-right: 0;
    }
    .card:first-child {
        margin-right: 25px;
    }
    .card:last-child {
        flex: 0 1 100%;
    }
}

@media (max-width: 700px) {
    .info {
        display: block;
        text-align: center;
    }
    .info-text {
        margin-left: 0px;
    }
    .slide {
        height: 200px;
    }
    .slide.active {
        flex: 8;
    }
    .card:not(:last-child) {
        display: block;
    }
}

@media (max-width: 580px) {
    .cards {
        display: block;
    }
    .card:first-child {
        margin-right: 0;
    }
    .card {
        margin: 20px auto;
    }
    h3 {
        font-size: 17px;
    }
    li {
        font-size: 16px;
    }
    .avatar {
        height: 280px;
    }
}